.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.p-5 {
  padding: 3rem!important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

